/**
 * $MASTHEAD
 * ==========================================================================
 * Masthead is used as the top section on pages, typically containing the 
 * page title.
 */
.footer {
	color: $copy-light;
	background: $baja-gray;
	
	padding-bottom: 20px;

	
	.footer-wrapper {
		text-align: center;

	}
	.footer-box {
		display: inline-block;
		vertical-align: top;
		margin-top: 20px;
		width: 340px;
		height: 240px;
		padding-left: 10px;		
		text-decoration: none !important;
		font-family: 'baja-sans-reg';
		letter-spacing: 0.02em;
		font-size: 16px;
		line-height: 20px;
		text-align: left;

		@include media-query(portable){
		width: 228px;
		}

		@include media-query(palm){
		//display: block;
		border-bottom: 1px #fff solid;
		width: 400px;
		}


	}
	.footer-divider {
		display: inline-block;
		vertical-align: top;
		width: 20px;
		height: 180px;
		border-right: 1px solid #fff;
		margin-top: 40px;
		margin-right: 20px;

		@include media-query(palm){
		border: none;
		width: 0px;
		margin-right: 0px;
		}
	}

	.social-box-fb {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 20px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 0px 0px;		
	}
	.social-box-twitter {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 20px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 313px 0px;		
	}
	.social-box-gplus {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 20px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 265px 0px;		
	}
	.social-box-yt {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 20px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 217px 0px;		
	}
	.footer-heading {
	    font-family: 'baja-serif-reg';
		font-size: 18px;
		color: #ec9224;
		margin-top: 40px;
		padding-bottom: 20px;
		letter-spacing: 0.03em;

		span{
			font-size: 22px;
		}

		
	}
	.contact-address {
		float: left;
		height: 35px;
		width: 25px;
		background-image: url('../img/sprite.png');
	 	background-position: 166px 0px;	
	 	margin-right: 10px;
	 	margin-top: 5px;
	 	margin-left: -3px;	
	}
	.contact-telephone {
		float: left;
		width: 300px;
		height: 30px;
		background-position: left;
		background-image: url('../img/telephone.png');
		background-repeat: no-repeat;
		padding-left: 33px;
		margin-left: -2px;
		margin-top: 15px;
		line-height: 30px;
	}
	.contact-mail {
		float: left;
		width: 300px;
		height: 30px;
		background-position: left;
		background-image: url('../img/mail.png');
		background-repeat: no-repeat;
		padding-left: 33px;
		margin-top: 5px;
		margin-left: -2px;
		line-height: 30px;
	}
	ul {
		float: left;
		margin-bottom: 100px;
		list-style-type:none;
		margin-left: 0px;
		margin-right: 50px;

		@include media-query(portable){
		margin-bottom: 0px;
		}
	}
	ul a:link {
	    color: #fff;
		text-decoration: none;
		font-weight: 700;
		transition: all 0.3s ease;
	}
	ul a:visited {
	    color: #fff;
	}
	ul a:hover {
	    color: $baja-orange;
	}
}

.bottom-foot{
	color: $copy-light;
	text-align: center;
	font-family: 'baja-sans-light';
	height: 40px;
	padding-top: 12px;
	font-size: 12px;
	background-color: $baja-orange;
}


