/**
 * $MASTHEAD
 * ==========================================================================
 * Masthead is used as the top section on pages, typically containing the 
 * page title.
 */
#rotator{
	background: url("../img/banners/beautiful-oceanviews.jpg") center top no-repeat;
}

.masthead-wrapper{
	height: 900px;
	background-color: #5c90cc;

	.logo-lockup{		
		margin-left: -17px;
		margin-top: 45px;
		display: inline-block;

		.logo{			
			top: -6px;
			margin-left: 23px;
		}
	}

	.ocean-views-btn{
		width: 520px;
		height: 80px;
		margin-left: -20px;
		margin-top: 288px;
		background-color: $baja-orange;
		text-align: center;

		@include media-query(portable){
			margin-top: 610px;
			width: auto;
		}

		.btn-copy{
			color: white;
			display: inline-block;
			font-size: 30px;
			font-family: 'baja-serif-bold';
			margin-top: 16px;
			
			span{
				font-size: 36px;
			}
		}
	}
}

.masthead {
	height: 900px;
	position: absolute;
}

