/**
 * $ABOUT
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

.page-head{
	height: 180px;
	background-color: $baja-orange;
	background: url("../img/sand-bg.jpg") center bottom no-repeat;
	text-align: center;

	span{ font-size: 26px; }

	h3 {
		margin: 0 auto;
		padding-top: 75px;
		font-family: 'baja-serif-bold';
		font-size: 24px;
		color: #fff;
		letter-spacing: 0.02em;	
		text-align: left;
		padding-bottom: 15px;
		margin-left: 25px;
	}
}

.column{
	display: inline-block;
	vertical-align: top;
	width: 525px;
	margin-right: 15px;
	margin-left:25px;
	
	/**border: 1px #ff0000 solid;**/

	font-family: 'baja-sans-reg';
	letter-spacing: 0.02em;
	font-size: 14px;
	line-height: 18px;
	text-align: left;

	hr{
	border: 0;
    height: 1px;
    background: #ec9224;
	}
}

.heading{

	span{ font-size: 18px; }

	display: inline-block;
	font-family: 'baja-serif-bold';
	font-size: 16px;
	color: #000000;
	padding-bottom: 20px;
	letter-spacing: 0.03em;
}

.position{
	font-family: 'baja-sans-bold';
	font-size: 14px;
	color: #ec9224;
	display: inline-block;
	margin-left: 15px;
}

.aboutImage{
	width: 160px;
	height: 177px;
	background-image:url('../img/luz-elena.jpg');
	margin-right: 20px;
	margin-top: 5px;
	margin-bottom: -5px;
	float: left;
}
.offices{
	min-height: 710px;
	top: 25px;

	p{
	text-align: left;
	}

	@include media-query(portable){
	padding-left: 25px;
	}

.google-map{
	width: 1138px;
	height: 427px;
	background-image: url(../img/location.png);
	background-repeat: no-repeat;
	margin-left: -5px;

	@include media-query(portable){
	width:100%;
	background-image: url(../img/location2.png);
	}

	@include media-query(palm){
	background-image: url(../img/location1.png);
	width:100%;
	}
}
}