/**
 * $CONTACT
 * ==========================================================================
 * This is a placeholder and example for a view.
 */
.social-box-fb1 {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 10px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 0px 0px;		
	}
	.social-box-twitter1 {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 10px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 313px 0px;		
	}
	.social-box-gplus1 {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 10px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 265px 0px;		
	}
	.social-box-yt1 {
		float: left;
		width: 39px;
		height: 39px;
		margin-right: 15px;
		margin-top: 10px;
		
		background-image: url('../img/sprite.png');
	 	background-position: 217px 0px;		
	}

.email {
	display: inline-block;
	padding-left: 25px;
	background-image: url('../img/mail.png');
	background-position: left;
	background-repeat: no-repeat;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	font-size: 16px;
}

.telephone-number {
	display: inline-block;
	padding-left: 25px;
	background-image: url('../img/telephone.png');
	background-position: left;
	background-repeat: no-repeat;
	height: 25px;
	line-height: 25px;
	margin-bottom: 10px;
	font-size: 16px;
}

.website {
	display: inline-block;
	padding-left: 25px;
	background-image: url('../img/website.png');
	background-position: left;
	background-repeat: no-repeat;
	height: 25px;
	line-height: 25px;
	margin-bottom: 35px;
	font-size: 16px;
}