/**
 * $LANDING
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

 .container{
 	max-width: 2000px;

 	img{
 		width: 2000px;
 		border: thin $baja-orange solid;
 	}

 }
