/**
 * $LANDING
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

.specialty{
	height: 265px;
	background-color: $baja-orange;
	background: url("../img/sand-bg.jpg") center top no-repeat;
}

.ctas{
	height: 540px;

	img{ margin-top: 75px; }
}

.properties{
	height: 895px;
	background: url("../img/sand-background.jpg") center top no-repeat;
}
