/**
 * $LANDING
 * ==========================================================================
 * This is a placeholder and example for a view.
 */

.specialty{
	height: 265px;
	background-color: $baja-orange;
	background: url("../img/sand-bg.jpg") center top no-repeat;
	text-align: center;

	span{
			font-size: 26px;
		}

	h3 {
	margin: 0 auto;
	padding-top: 75px;
	font-family: 'baja-serif-bold';
	font-size: 24px;
	color: #fff;
	letter-spacing: 0.02em;	
	text-align: center;
	padding-bottom: 15px;
	}

	hr {
		background-color: #343434;
		height: 1.5px;
		border: none;
		width: 85%;
	}
	p  {
	margin-top: 15px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-family: 'baja-sans-light';
	font-weight: 500;
	font-size: 22px;
	line-height: 24px;
	color: #fff;
	letter-spacing: 0.01em;	
	text-align: center;
	max-width: 1000px;
	padding: 0 10px;
	
	}
}

.ctas{ margin: 120px 0; }

.activity-box-wrapper{
	// border: thin red solid;
	width: auto;
	text-align: center;
}

.activities-box {
	display: inline-block;
	width: 260px;
	// margin-left: 25px;
	text-align: center;
	color: #000000;

	@include media-query(portable){
		margin: 20px 0;
	}



	h3 {
		margin-top: 10px;
		font-family: 'baja-sans-bold';
		font-size: 16px;
		letter-spacing: 0.03em;	
		text-transform: uppercase;
		margin-bottom: 15px;
	}

	.act-txt {
		font-family: 'baja-sans-light';
		font-size: 16px;	
		line-height: 16px;
		margin-bottom: 10px;
	}

	a:link {
	    color: #ec9224;
		text-decoration: none;
		transition: all 0.5s ease;
	}
	a:visited {
	    color: #ec9224;
	}
	a:hover {
	    color: #343434;
	}

}



.properties{
	min-height: 895px;
	background: $baja-sand url("../img/sand-background.jpg") center bottom no-repeat;

	.container {
		text-align: center;
	}
	
	h3 {
		font-family: 'baja-serif-bold';
		font-size: 26px;
		color: #ec9224;
		letter-spacing: 0.03em;	
		text-align: center;
		
		padding-top: 65px;
		span{
			font-size: 30px;
		}
	}
	.img-box {	
		display: inline-block;
		width: 350px;
		height: 270px;		
		border: 4px solid #fff;
		padding-left: 5 px;
		padding-top: 5 px;
		padding-right: 5px;
		margin-left: 25px;
		margin-top: 50px;

		background: #fff; 

		-webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
		-moz-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 
		box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2); 

		transition: box-shadow 0.3s linear 0s; 
		-webkit-transition: box-shadow 0.3s linear 0s;
		-moz-transition: box-shadow 0.3s linear 0s;
		-o-transition: box-shadow 0.3s linear 0s; 


		@include media-query(portable){
			margin: 15px;
		}

		@include media-query(palm){
			margin-left: 0;
			margin-right: 0;
		}

	}
		.anchor-hover { display: block; position: relative; }
		.anchor-hover img { position: relative; }
		.anchor-hover .details {
			opacity: 0;
			position: absolute;
			top: 0px;
			left: 0px;
			width: 340px;
			height: 260px;
			margin: 0;
			padding-top: 10px;
			padding-left: 10px;
			font-size: 1.2em;
			line-height: 1.4em;
			text-decoration: none;
			color: #888;
			background-image: url("../img/prop-over.png");
			overflow: hidden;
			transition: opacity 0.25s linear 0s;
			-webkit-transition: opacity 0.25s linear 0s;
			-moz-transition: opacity 0.25s linear 0s;
			-o-transition: opacity 0.25s linear 0s;
		}

		.anchor-hover .details h2 { 
			text-decoration: none; 
			margin-bottom: 8px;
			font-family: 'baja-serif-bold';
			font-size: 20px;
			color: #fff;
			text-align: center;
			letter-spacing: 0.03em;	
			margin-top: 30px;
		 }
		.anchor-hover .details p.desc { 
			font-weight: normal; 
			font-size: 18px; 
			line-height: 0.5em; 
			color: #fff; 
			font-family: 'baja-sans-reg';	
			text-align: center;	
			margin-bottom: 95px;
		}
		.anchor-hover .details span.more {  
			color: #fff; 
			font-family: 'baja-sans-reg';	
			text-align: center;	
			margin-left: 120px;
	 	}
		.anchor-hover:hover .details { opacity: 1; }

}

